<div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="budgetComparisonModalLabel">Budget Comparison</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <table id="budgetTable" class="display" style="width:100%">
                <thead>
                <tr>
                    <th>School Name</th>
                    <th>Budget (2024)</th>
                    <th>Budget (2025)</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Elementary School A</td>
                    <td>$1,400,000</td>
                    <td>$1,400,000</td>
                </tr>
                <tr>
                    <td>Middle School B</td>
                    <td>$2,000,000</td>
                    <td>$2,200,000</td>
                </tr>
                <tr>
                    <td>High School C</td>
                    <td>$3,500,000</td>
                    <td>$3,700,000</td>
                </tr>
                <tr>
                    <td>High School C</td>
                    <td>$3,500,000</td>
                    <td>$3,700,000</td>
                </tr>
                <tr>
                    <td>High School C</td>
                    <td>$3,500,000</td>
                    <td>$3,700,000</td>
                </tr>
                <tr>
                    <td>High School C</td>
                    <td>$3,500,000</td>
                    <td>$3,700,000</td>
                </tr>
                <tr>
                    <td>High School C</td>
                    <td>$3,500,000</td>
                    <td>$3,700,000</td>
                </tr>
                <tr>
                    <td>High School C</td>
                    <td>$3,500,000</td>
                    <td>$3,700,000</td>
                </tr>
                <tr>
                    <td>High School C</td>
                    <td>$3,500,000</td>
                    <td>$3,700,000</td>
                </tr>
                <tr>
                    <td>High School C</td>
                    <td>$3,500,000</td>
                    <td>$3,700,000</td>
                </tr>
                </tbody>
            </table>
            <div class="container mt-5">
                <h2>Totals</h2>
                <canvas id="budgetPieChart"></canvas>
            </div>
        </div>
    </div>
</div>