<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{admin/fragments/head}"></head>

<div th:insert="~{admin/fragments/header}"></div>
<div th:insert="~{admin/fragments/flash-message}"></div>

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Elementary Schools</h1>
    <div class="btn-lg btn-primary float-right" ><a href="/admin/elementary-schools/create" style="color:white;">Create</a></div>

</div>


<div class="row">

    <table class="table table-striped">
        <tr>
            <td>Id</td>
            <td>School Name</td>
            <td>Year</td>
            <td></td>
        </tr>

        <tr th:each="elementarySchool : ${elementarySchools}">
            <td th:text="${elementarySchool.id}"></td>
            <td th:text="${elementarySchool.schoolName}"></td>
            <td th:text="${elementarySchool.year}"></td>
            <td>
                <a th:href="@{'/admin/elementary-schools/show/' + ${elementarySchool.id}}" class="btn btn-info">View</a>
                <a th:href="@{'/admin/elementary-schools/edit/' + ${elementarySchool.id}}" class="btn btn-warning">Edit</a>
                <a th:href="@{'/admin/elementary-schools/delete/' + ${elementarySchool.id}}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    </table>
</div>

<footer th:insert="~{admin/fragments/footer}"></footer>