<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head th:insert="~{admin/fragments/head}"></head>
<div th:insert="~{admin/fragments/header}"></div>


<div class="row">
    <h1 th:text="${elementarySchools.schoolName}"></h1>
    <hr>
    <p><strong>Id: </strong> <span th:text="${elementarySchools.id}"></span></p>
    <p><strong>School Name: </strong> <span th:text="${elementarySchools.schoolName}"></span></p>
    <p><strong>Year: </strong> <span th:text="${elementarySchools.year}"></span></p>
</div>

<footer th:insert="~{admin/fragments/footer}"></footer>