<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head th:insert="~{admin/fragments/head}"></head>
<div th:insert="~{admin/fragments/header}"></div>


<div class="row">

    <table class="table table-striped">
        <tr>
            <td>Id</td>
            <td>School Name</td>
            <td>Year</td>
        </tr>

        <tr>
            <td th:text="${elementarySchools.id}"></td>
            <td th:text="${elementarySchools.schoolName}"></td>
            <td th:text="${elementarySchools.year}"></td>
        </tr>
    </table>
</div>

<footer th:insert="~{admin/fragments/footer}"></footer>