<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{admin/fragments/head}"></head>
<div th:insert="~{admin/fragments/header}"></div>

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
</div>

<div class="row">
    <!-- Area Chart -->
    <div class="col-xl-6 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">
                    <a href="/admin/elementary-schools/">Elementary Schools</a>
                </h6>

            </div>
            <!-- Card Body -->
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <td>School Name</td>
                        <td>Year</td>
                        <td></td>
                    </tr>
                    </thead>
                    <tbody th:each="elementary :  ${elementarySchools}">
                    <td th:text="${elementary.schoolName}"></td>
                    <td th:text="${elementary.year}"></td>
                    <td>
                        <a th:href="@{'/admin/elementary-schools/show/' + ${elementary.id}}" class="btn btn-info">View</a>                    </td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Pie Chart -->
    <div class="col-xl-6 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">
                    <a href="/admin/elementary-schools/">Middle Schools</a>
                </h6>

            </div>
            <!-- Card Body -->
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <td>School Name</td>
                        <td>Year</td>
                        <td></td>
                    </tr>
                    </thead>
                    <tbody th:each="elementary :  ${elementarySchools}">
                    <td th:text="${elementary.schoolName}"></td>
                    <td th:text="${elementary.year}"></td>
                    <td>
                        <a th:href="@{'/admin/elementary-schools/show/' + ${elementary.id}}" class="btn btn-info">View</a>
                    </td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <!-- Area Chart -->
    <div class="col-xl-6 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">
                    <a href="/admin/elementary-schools/">High Schools</a>
                </h6>

            </div>
            <!-- Card Body -->
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <td>School Name</td>
                        <td>Year</td>
                        <td></td>
                    </tr>
                    </thead>
                    <tbody th:each="elementary :  ${elementarySchools}">
                    <td th:text="${elementary.schoolName}"></td>
                    <td th:text="${elementary.year}"></td>
                    <td>
                        <a th:href="@{'/admin/elementary-schools/show/' + ${elementary.id}}" class="btn btn-info">View</a>
                    </td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Pie Chart -->
    <div class="col-xl-6 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">
                    <a href="/admin/elementary-schools/">Magnet Schools</a>
                </h6>

            </div>
            <!-- Card Body -->
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <td>School Name</td>
                        <td>Year</td>
                        <td></td>
                    </tr>
                    </thead>
                    <tbody th:each="elementary :  ${elementarySchools}">
                    <td th:text="${elementary.schoolName}"></td>
                    <td th:text="${elementary.year}"></td>
                    <td>
                        <a th:href="@{'/admin/elementary-schools/show/' + ${elementary.id}}" class="btn btn-info">View</a>
                    </td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>


<footer th:insert="~{admin/fragments/footer}"></footer>