<head th:insert="~{admin/fragments/head}"></head>
<div th:insert="~{admin/fragments/header}"></div>
<!DOCTYPE html>
<html lang="en">
<head th:insert="~{public/fragments/head}"></head>
<body>
<style>
    .wysiwyg-editor-outline {
        box-shadow: 0 0 10px 2px turquoise;
    }
</style>
<!-- Navbar -->
<nav th:insert="~{public/fragments/nav}"
     class="navbar navbar-expand-lg navbar-light shadow-sm sticky-top bg-white"></nav>

<!-- Hero Section -->
<section class="bg-primary py-5 bg-blue" th:each="cms : ${cms}">
    <div class="container">

        <h1 class="display-4 text-white text-center mb-5">
            <div style="background-color: #ffffff; padding: 10px; border-radius: 10px;color:black;"
                 class="wysiwyg-editor-outline">
                <input type="text" th:value="${cms.headerTitle}" th:placeholder="${cms.headerTitle}"
                       class="form-control">
                </input>
            </div>
        </h1>


        <div class="bg-white">
            <div class="wysiwyg-editor-outline">
                <textarea rows="10"
                          cols="70"
                          class="lead wysiwyg-editor"
                          th:text="${cms.headerParagraph}"
                          th:value="${cms.headerParagraph}">
                </textarea>
            </div>
        </div>

    </div>
</section>

<!-- Sub Navigation -->
<section class="bg-grey" th:insert="~{public/fragments/sub-nav}"></section>

<section th:each="cms : ${cms}">
    <div class="container p-5">
        <div class="row">
            <div class="col p-3">
                <div class="wysiwyg-editor-outline">
                    <h1>
                        <input type="text" th:value="${cms.introTitle}" th:placeholder="${cms.introTitle}"
                               class="form-control"/>
                    </h1>
                </div>

                <div class="divider"></div>

                <div class="wysiwyg-editor-outline">
                    <textarea th:text="${cms.introParagraph}" rows="10" cols="70" th:value="${cms.introParagraph}"
                              class="wysiwyg-editor"></textarea>
                </div>

                <p class="">
                <div class="wysiwyg-editor-outline">
                    <input type="text" th:value="${cms.introNumber}" th:placeholder="${cms.introNumber}"
                           class="form-control"/>
                </div>
                </p>
                <p class="darkgrey-sentence">
                <div class="wysiwyg-editor-outline">
                    <input type="text" th:value="${cms.introSentenceUnderNumber}"
                           th:placeholder="${cms.introSentenceUnderNumber}" class="form-control"/>
                </div>
                </p>
            </div>
            <div class="col p-3">
                <!--                    Charts-->
                <div>
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</section>

<hr>

<!--Blueprint-->
<section th:each="cms : ${cms}">
    <div class="container p-5">
        <div class="row">
            <div class="col p-3">
                <div class="wysiwyg-editor-outline">
                    <h2><input type="text" th:value="${cms.bluePrintTitle}" th:placeholder="${cms.bluePrintTitle}"
                               class="form-control"/></h2>
                </div>

                <div class="divider"></div>

                <div class="wysiwyg-editor-outline">
                    <textarea th:text="${cms.blueprintParagraph}" rows="10" cols="70"
                              th:value="${cms.blueprintParagraph}" class="wysiwyg-editor">
                    </textarea>
                </div>


                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#fourYearBlueprintModal">Read
                    More
                </button>
            </div>
            <div class="col p-3">
                <h3 class="pb-3 grey">Strategic Initiatives</h3>

                <div>
                    <h6 class="initiatives wysiwyg-editor-outline">
                        <input type="text"
                               th:value="${cms.initiativeOne}" th:placeholder="${cms.initiativeOne}"
                               class="form-control"/>
                    </h6>
                    <h6 class="initiatives wysiwyg-editor-outline">
                        <input type="text"
                               th:value="${cms.initiativeTwo}"
                               th:placeholder="${cms.initiativeTwo}" class="form-control"/>
                    </h6>
                    <h6 class="initiatives wysiwyg-editor-outline">
                        <input type="text"
                               th:value="${cms.initiativeThree}"
                               th:placeholder="${cms.initiativeThree}" class="form-control"/>
                    </h6>
                    <h6 class="initiatives wysiwyg-editor-outline">
                        <input type="text"
                               th:value="${cms.initiativeFour}"
                               th:placeholder="${cms.initiativeFour}" class="form-control"/>
                    </h6>
                    <h6 class="initiatives wysiwyg-editor-outline">
                        <input type="text"
                               th:value="${cms.initiativeFive}"
                               th:placeholder="${cms.initiativeFive}" class="form-control"/>
                    </h6>
                </div>
            </div>
        </div>
    </div>
</section>
<hr>

<!--Tools-->
<section class="py-5" th:insert="~{public/fragments/tools}"></section>

<!-- Search -->
<section class="bg-light py-5" th:insert="~{public/fragments/search}"></section>

<section class="py-5" th:each="cms : ${cms}">
    <div class="container">
        <div class="row">
            <!-- Column 1: Pie Chart for Elementary Schools -->
            <div class="col-md-3">
                <h3>Elementary Schools</h3>
                <div class="divider"></div>
                <div class="wysiwyg-editor-outline">
                    <textarea th:text="${cms.elementarySchoolParagraph}" rows="10" cols="70"
                              th:value="${cms.elementarySchoolParagraph}" class="wysiwyg-editor"></textarea>
                </div>
                <canvas id="elementaryChart"></canvas>
            </div>
            <!-- Column 2: Pie Chart for Middle Schools -->
            <div class="col-md-3">
                <h3>Middle Schools</h3>
                <div class="divider"></div>
                <div class="wysiwyg-editor-outline">
                    <textarea th:text="${cms.middleSchoolParagraph}" rows="10" cols="70"
                              th:value="${cms.middleSchoolParagraph}" class="wysiwyg-editor"></textarea>
                </div>
                <canvas id="middleSchoolChart"></canvas>
            </div>
            <!-- Column 3: Pie Chart for High Schools -->
            <div class="col-md-3">
                <h3>High Schools</h3>
                <div class="divider"></div>
                <div class="wysiwyg-editor-outline">
                    <textarea th:text="${cms.highSchoolParagraph}" rows="10" cols="70"
                              th:value="${cms.highSchoolParagraph}" class="wysiwyg-editor"></textarea>
                </div>
                <canvas id="highSchoolChart"></canvas>
            </div>
            <!-- Column 4: Pie Chart for Magnet Schools -->
            <div class="col-md-3">
                <h3>Magnet Schools</h3>
                <div class="divider"></div>
                <div class="wysiwyg-editor-outline">
                    <textarea th:text="${cms.magnetSchoolParagraph}" rows="10" cols="70"
                              th:value="${cms.magnetSchoolParagraph}" class="wysiwyg-editor"></textarea>
                </div>
                <canvas id="magnetSchoolChart"></canvas>
            </div>
        </div>
    </div>
</section>


<!-- Footer -->
<footer class="bg-dark text-white py-4" th:insert="~{public/fragments/footer}"></footer>
<!-- Include Summernote CSS and JS -->
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>

<script>
    $(document).ready(function () {
        $('.wysiwyg-editor').summernote({
            height: 400, // Set editor height
            minHeight: null, // Minimum height
            maxHeight: null, // Maximum height
            focus: true // Focus on editor after initialization
        });
    });
</script>
<!--<script src="https://website-widgets.pages.dev/dist/sienna.min.js" defer></script>-->
<!-- Add this script for Google Translate -->
<script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
    }
</script>



<footer th:insert="~{admin/fragments/footer}"></footer>

<!--Floating Bar-->
<div class="footer-floating-bar">
    <div class="container d-flex justify-content-center">
        <button class="btn btn-lg btn-primary me-2">Save</button>
        <button class="btn btn-lg btn-secondary">Cancel</button>
    </div>
</div>
</body>
</html>