</div>
<!-- /.container-fluid -->
</div>
<!-- End of Main Content -->

<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; <span id="year"></span> CCSD</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->
</div>
<!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!--<script src="/js/jquery.min.js"></script>-->
<script src="/js/bootstrap.min.js"></script>
<!--<script src="/js/dashboard.js"></script>-->
<script src="/js/htmx.js"></script>

<!--<script src="dashboard.js"></script>-->
<script>
    document.getElementById("year").innerHTML = new Date().getFullYear();
</script>
</body>
</html>


