<ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar" style="background-color: #417cc0">
  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
    <img src="/img/logo-blue-bg.jpg" alt="CCSD" width="350px" height="150px" style="margin-bottom: 10px;margin-top: 20px; padding-top: 25px; padding-left: 0px !important; " />
  </a>
  <br/>
  <!-- Divider -->
  <hr class="sidebar-divider my-0"/>

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" href="/">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a>

  </li>

  <!-- Nav Item - Tables -->
  <li class="nav-item">
    <a class="nav-link" href="/admin/elementary-schools/">
      <i class="fas fa-fw fa-table"></i>
      <span>Elementary Schools</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block"/>

</ul>