<ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar">
  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin/dashboard/">CCSD Open Book
  </a>

  <hr style="color:white !important;">

  <li class="nav-item active">
    <a class="nav-link" href="/admin/dashboard/">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard Home</span></a>
  </li>

  <hr style="color:white !important;">

  <li class="nav-item active">
    <a class="nav-link" href="/admin/dashboard/">
      <i class="fa-solid fa-file"></i>
      <span>Pages</span></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="/admin/cms/">
      <i class="fa-solid fa-house"></i>      <span>Homepage</span></a>
  </li>

  <hr style="color:white !important;">

  <li class="nav-item active">
    <a class="nav-link" href="/admin/dashboard/">
      <i class="fa-solid fa-school"></i>      <span>Schools</span></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="/admin/elementary-schools/">
      <i class="fas fa-fw fa-table"></i>
      <span>Elementary Schools</span></a>
  </li>

  <hr class="sidebar-divider d-none d-md-block"/>

  <li class="nav-item">
    <a class="nav-link" href="/admin/elementary-schools/">
      <i class="fas fa-fw fa-table"></i>
      <span>Middle Schools</span></a>
  </li>

  <hr class="sidebar-divider d-none d-md-block"/>

  <li class="nav-item">
    <a class="nav-link" href="/admin/elementary-schools/">
      <i class="fas fa-fw fa-table"></i>
      <span>High Schools</span></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="/admin/elementary-schools/">
      <i class="fas fa-fw fa-table"></i>
      <span>Magnet Schools</span></a>
  </li>

  <hr style="color:white !important;">

  <li class="nav-item active">
    <a class="nav-link" href="/admin/dashboard/">
      <i class="fa-solid fa-money-check-dollar"></i>
      <span>Budgets</span></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="/admin/elementary-schools/">
      <i class="fas fa-fw fa-table"></i>
      <span>Administrative Staff</span></a>
  </li>

  <hr class="sidebar-divider d-none d-md-block"/>

  <li class="nav-item">
    <a class="nav-link" href="/admin/elementary-schools/">
      <i class="fas fa-fw fa-table"></i>
      <span>Licensed Staff</span></a>
  </li>

  <hr class="sidebar-divider d-none d-md-block"/>

  <li class="nav-item">
    <a class="nav-link" href="/admin/elementary-schools/">
      <i class="fas fa-fw fa-table"></i>
      <span>Support Staff</span></a>
  </li>

  <hr class="sidebar-divider d-none d-md-block"/>
</ul>