<div class="container">
    <a class="navbar-brand" href="#"><img src="../img/openbook-logo.png" alt="" height="71" width="170"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNav">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <div id="google_translate_element"></div>
            </li>
        </ul>
    </div>
</div>